@CHARSET "UTF-8";


/* ////////////////////////////////////////////////////////////////////////////////*/

/* font Style */

/*//////////////////////////////////////////////////////////////////////////////// */


/* 타이틀, 메뉴명에만 사용함 */

@font-face { 
    font-family:'CJONLYONENEWtitleBold';
    font-style: normal;
    font-weight: bold;

    src: url('CJONLYONENEWtitleBold.eot'); /* IE 호환성 보기 */ 
    src: local(☺),
         url('CJONLYONENEWtitleBold.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */ 
         url('CJONLYONENEWtitleBold.woff')      format('woff'), /* IE 9+, 모던 브라우저 */
         url('CJONLYONENEWtitleBold.woff2')      format('woff2'); 
}

@font-face { 
    font-family:'CJONLYONENEWbodyRegular';
    font-style: normal;
    font-weight: normal;

    src: url('CJONLYONENEWbodyRegular.eot'); /* IE 호환성 보기 */ 
    src: local(☺),
         url('CJONLYONENEWbodyRegular.eot#iefix') format('embedded-opentype'), /* IE 6 ~ 8 */ 
         url('CJONLYONENEWbodyRegular.woff')      format('woff'), /* IE 9+, 모던 브라우저 */
         url('CJONLYONENEWbodyRegular.woff2')      format('woff2'); 
}
