@charset "utf-8";  
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/*
Title : content.css
Author : LKICT euniya.H
*/

/* ========== R E S E T ========== */
/* default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-family:inherit}

h1, h2, h3, h4, h5, h6{font-weight:normal}

body{background:#fff;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none}
ol, ul{list-style:none}
em{font-style:normal}

/* form */
form{-webkit-appearance:none;-moz-appearance:none;appearance:none}
fieldset{border:0 solid transparent}
img, input, button, select, textarea{padding:0;margin:0;vertical-align:middle}
button{border:0;outline:none;background:transparent;cursor:pointer;overflow:visible}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;margin:0}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;cursor:pointer}

input[type="date"],
input[type="month"],
input[type="datetime-local"]{display:-webkit-inline-flex;display:block}

input[type="radio"],
input[type="checkbox"]{border:0}

textarea, input, select{border-radius:0;background:#fff;box-shadow:none;text-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{resize:none}
a{text-decoration:none}

/* table */
table{border-collapse:collapse;border-spacing:0}
caption, th, td{font-weight:normal}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none}
blockquote, q{quotes:none}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, main, nav, section {
	display: block;
}

/* ========== C O M M O N ========== */
*{padding:0;margin:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}

html{width:100%;height:100%}
body{width:100%;min-width:1500px;height:100%;overflow:hidden;position:relative;font-family:'Noto Sans KR',sans-serif;font-size:16px;font-weight:400;color:#000;letter-spacing:-0.5px;background:#fff}
button, textarea, input, select{font-family:'Noto Sans KR', sans-serif;font-size:16px;font-weight:400;color:#000;letter-spacing:-0.5px}
.blind{position:absolute;top:-9999em;left:-9999em;display:block;width:1px;height:1px}

/* input_text_style */
input::-ms-clear{display:none}
input:focus{outline:none}
input[type="text"],
input[type="password"],
input[type="number"]{width:100%;height:40px;padding:0 20px;border:none;border-radius:5px;background:#f4f6f8}

/* placeholder */
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
textarea::placeholder{font-family:'Noto Sans KR', sans-serif;color:#aaa}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder{font-family:'Noto Sans KR', sans-serif;color:#aaa}

/* input_check-radio_style */
/* 그리드 */
input[type="checkbox"]{border:1px solid #ccc;border-radius:4px;width:13px;height:13px;margin:0;background:#fff;color:transparent}
input[type="checkbox"]:checked{border:1px solid #1987be;background:#1987be url(../images/ico-checkbox.png) no-repeat 50% 50%;color:transparent}
input[type="checkbox"]:disabled{border:1px solid #ccc;background:#ddd;color:transparent}
input[type="checkbox"]:disabled:checked{border:1px solid #c1c1c1;background:#ccc url(../images/ico-checkbox-disabled.png) no-repeat 50% 50%;background-size:13px 13px;color:transparent}
input[type="checkbox"]:hover,
input[type="checkbox"]:focus{border-color:#1987be;outline:none}
input[type="checkbox"]:disabled:hover{border:1px solid #ccc}
input[type="checkbox"]:disabled+label{color:#999}
input[type="checkbox"]+label{vertical-align:middle;display:inline-block;margin-bottom:0}

input[type="radio"]{border:1px solid #ccc;border-radius:100%;width:13px;height:13px;background:#fff;color:transparent}
input[type="radio"]:checked{border:0;background:#228bc0 url(../images/ico-radio.png) no-repeat 50% 50%;color:transparent;color:transparent}
input[type="radio"]:disabled{border:1px solid #ccc;background:#ddd;color:transparent}
input[type="radio"]:disabled:checked{border:1px solid #c1c1c1;background:#ccc url(../images/ico-radio-disabled.png) no-repeat 50% 50%;color:transparent}
input[type="radio"]:hover,
input[type="radio"]:focus{border-color:#1987be;outline:none}
input[type="radio"]:disabled:hover{border:1px solid #ccc}
input[type="radio"]:disabled+label{color:#999}
input[type="radio"]+label{vertical-align:middle;display:inline-block;margin-bottom:0}

/* textarea_style */
textarea:focus{outline:none}
textarea{width:100%;padding:10px 20px;border:none;border-radius:5px;background:#f4f6f8}

/* disabled_style */
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
textarea:disabled{background:#f2f2f2}

/* select_style */
select::-ms-expand{display:none}
select:focus{outline:none}
select{width:100%;height:40px;color:#ccc;padding-left:20px;padding-right:40px;border-radius:5px;border:none;background:#f4f6f8 url(../images/ico-selectarrow.png) no-repeat right 20px center;background-size:20px 20px}
select>option{color:#000}
.selectwrap{display:flex;align-items:center;flex:1}
.selectwrap span{display:flex;align-items:center;width:100%;height:40px}
.selectwrap span:not(:first-of-type){margin-left:20px}
.selectwrap span:not(:first-of-type)::before{content:'-';width:10px;line-height:40px;font-family:serif;color:#000;text-align:center;padding:0 5px;margin-left:-20px}

/* calendar */
input[type="text"].datetime{padding-left:16px !important;background:transparent url(../images/ico-calendar_map.png) no-repeat right 10px center;background-size:25px 25px;background-color:#f4f6f8}
.datewrap{display:flex;align-items:center}
.datewrap span{display:flex;align-items:center;width:100%;height:40px;border-radius:5px;background:#fff}
.datewrap span:not(:first-of-type){margin-left:20px}
.datewrap span:not(:first-of-type)::before{content:'-';width:10px;line-height:40px;font-family:serif;color:#000;text-align:center;padding:0 5px;margin-left:-20px}

/* xdsoft_datetimepicker custom */
.xdsoft_datetimepicker .xdsoft_datepicker{width:233px}
.xdsoft_datetimepicker .xdsoft_monthpicker{padding:0 7px}
.xdsoft_datetimepicker .xdsoft_month{width:74px}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current{background:#003598;box-shadow:#00215F 0 1px 3px 0 inset}
.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker{margin-top:0;margin-bottom:0;border-left:1px solid #ddd}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box{height:160px;border:none}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div{height:30px;line-height:30px;background:#fff;border-top:none}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current{background:#003598;box-shadow:#00215F 0 1px 3px 0 inset}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev{margin-top:7px}
.xdsoft_datetimepicker .xdsoft_calendar td > div{padding-right:0}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th{background:#fff;border:none;text-align:center;height:30px}
.xdsoft_datetimepicker .xdsoft_calendar th{background:#fff}
.xdsoft_datetimepicker .xdsoft_calendar tr th:first-child{color:#FF4141}
.xdsoft_datetimepicker .xdsoft_calendar tr td:first-child{color:#FF4141}
.xdsoft_datetimepicker .xdsoft_calendar tr td:first-child.xdsoft_current{color:#fff}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today{color:#003598}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{color:#fff;background:#003598;box-shadow:#00215F 0 1px 3px 0 inset}
.xdsoft_scrollbar >.xdsoft_scroller{background:#ccc !important}
.xdsoft_datetimepicker .xdsoft_label i, .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_next, .xdsoft_datetimepicker .xdsoft_today_button{background-image:url(../images/ico-datetimepicker.png)}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover{color:#666;background:#DEDEDE}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover{color:#666 !important;background:#DEDEDE!important;box-shadow:none !important}

/* a-button_style */
a{color:inherit}
button{white-space:nowrap}
button.ty1{height:40px;color:#fff;padding:0 15px;border-radius:5px;background:#1780D1}
button.ty2{height:30px;font-size:14px;color:#fff;padding:0 15px;border-radius:5px;background:#222}
button.ty3{height:40px;color:#fff;padding:0 15px;border-radius:5px;background:#00a9d5}
button.ty4{height:40px;color:#fff;padding:0 15px;border-radius:5px;background:#005288}
button.excel{width:100%;height:40px;color:#fff;border-radius:5px;background:#397d53}
button.excel span{padding-left:39px;background:#397d53 url(../images/ico-excel.png) no-repeat left center;background-size:39px 26px}
button.refresh{width:100%;height:40px;font-size:18px;color:#000;background:#fff}
button.refresh span{padding-left:30px;background:#fff url(../images/ico-refresh.png) no-repeat left center;background-size:26px 26px}
button.reset{width:100%;height:40px;color:#fff;border-radius:5px;background:#565656}
button:disabled{opacity:0.3;cursor:default}

/* float */
.f_l{float:left !important}
.f_r{float:right !important}

/* align */
.txt_l{text-align:left !important}
.txt_r{text-align:right !important}
.txt_c{text-align:center !important}

/* 스크롤바 설정 */
.scroll-wrap::-webkit-scrollbar{
    width:10px;
}
/* 스크롤바 막대 설정 */
.scroll-wrap::-webkit-scrollbar-thumb{
    background-color:rgba(238, 238, 238, 1);
    border-radius:5px;
    background-clip:padding-box;
    border:2px solid transparent;
}
/* 스크롤바 뒷 배경 설정*/
.scroll-wrap::-webkit-scrollbar-track{
    background-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
}

/* ========== C O N T E N T ========== */
/* skip */
.skipnavi a{position:absolute;top:-30px;z-index:10000}
.skipnavi a:focus,
.skipnavi a:active{display:block;left:0;top:0;width:100%;height:30px;color:#fff;font-weight:700;text-align:center;line-height:30px;background:#000}

/* ui-layout custom */
.ui-layout-pane{padding:0;border:none;overflow:hidden}
.ui-layout-resizer{background:#f6f6f6;border:none}
.ui-layout-toggler{border:1px solid #ccc;background:#ccc}
.ui-layout-toggler-hover,
.ui-layout-resizer-hover .ui-layout-toggler-hover{border-color:#707070;background-color:#707070}
.ui-layout-resizer.ui-layout-resizer-west{/*background:transparent;*/box-shadow:4px 2px 8px 0 rgba(0, 0, 0, 0.06)}
.ui-layout-resizer.ui-layout-resizer-west.ui-layout-resizer-hover .ui-layout-toggler{opacity:1.00;filter:alpha(opacity=100)}

/* 운행이력 layout */
.sidebar{background:#fff}
.container{background:#fff}
.status{background:#fff}
.map{width:100%;height:100%;background:#e0e7d8}
.history{background:#fff}
.grid{width:100%;height:100%}

/* sidebar */
.sidebar .inner{height:100%;display:flex;flex-direction:column;padding:30px}
.sidebar h1{height:43px;font-size:20px;font-weight:700;padding:12px 0 0 132px;background:url(../images/logo.png) no-repeat left center;background-size:119px 35px}
.sidebar h1 span{display:inline-block;text-indent:-9999em;height:49px;}
.sidebar .search-form{padding:25px 0}
.sidebar .search-form .data-write-wrap:not(:last-of-type){margin-bottom:10px}
.sidebar .search-form .data-write-wrap{display:flex;align-items:center}
.sidebar .search-form .data-title{width:90px;font-size:18px;white-space:nowrap}
.sidebar .search-form .data-title + *{flex:1}
.sidebar .search-form button.ty1{width:calc(100% - 90px);height:40px;margin-left:90px;margin-top:20px}
.sidebar .search-result{flex:1}

/* status */
.status .inner{display:flex;align-items:center;justify-content:space-between;padding:25px 40px 25px 35px}
.status dl{display:flex;align-items:center;color:#181818;font-size:18px}
.status dl dt{padding-left:20px;margin-right:15px}
.status dl dt:nth-of-type(2){background:url(../images/bullet-1.png) no-repeat left center;background-size:10px 10px}
.status dl dt:nth-of-type(3){background:url(../images/bullet-2.png) no-repeat left center;background-size:10px 10px}
.status dl dt:nth-of-type(4){background:url(../images/bullet-3.png) no-repeat left center;background-size:10px 10px}
.status dl dd{margin-right:30px}
.status dl dd span{font-weight:700;color:#0083db;margin-right:10px}
.status .refreshcycle{display:flex;align-items:center}
.status .refreshcycle button{width:100px;margin-right:10px}
.status .refreshcycle select{width:120px}

/* history */
.history .inner{height:100%;display:flex;flex-direction:column}
.history .search-form{padding:20px 40px;background:#f2f2f2}
.history .search-form .data-wrap{display:flex;align-items:center}
.history .search-form .data-write-wrap:not(:last-of-type){margin-right:30px}
.history .search-form .data-write-wrap{display:flex;align-items:center}
.history .search-form .data-title{margin-right:10px;white-space:nowrap}
.history .search-form input[type="text"].ty2{border:1px solid #ccc;background:#fff}
.history .search-form .btngrp{display:flex;align-items:center;margin-left:auto}
.history .search-form button{width:100px;margin-left:20px}
.history .search-result{flex:1;padding:15px 18px}

@media (min-width:1900px){
    /* history */
    .history .search-form button{width:150px}
}

/* tooltip */
.tooltip_map{width:300px;background:#fff;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16)}
.tooltip_map .title{display:flex;padding:20px;border-bottom:1px solid #ccc}
.tooltip_map .title span{display:flex;align-items:center;font-size:18px;font-weight:700}
.tooltip_map .title span button{margin-left:10px}
.tooltip_map .title button.close{width:16px;text-indent:-9999em;margin-left:auto;background:url(../images/ico-close.png) no-repeat center center;background-size:16px 16px}
.tooltip_map dl{padding:20px}
.tooltip_map dl dt{clear:left;float:left;display:block;margin:0 5px 1px 0}
.tooltip_map dl dd{margin:0 0 1px 0}
.tooltip_map dl dd::after{content:'';display:table;clear:both}
.tooltip_map dl dd:not(:last-of-type){margin-bottom:10px}
.tooltip_map .btngrp{padding-bottom:20px;text-align:center}
.tooltip_map .btngrp button{width:120px}

.tooltip_map .tooltipTb {width: 100%;table-layout: fixed;border-top: 2px solid #3b6c9d;}
.tooltip_map .title {padding: 3%;font-weight: 900;text-align: left; display:flex;}
.tooltip_map .title.sty1 {background-color: #f9e3d4}
.tooltip_map .title.sty2 {background-color: #bdd7ee}
.tooltip_map .title.sty3 {background-color: #fff2cc}
.tooltip_map .tooltip_tb td, .tooltip_map .tooltip_tb th {padding: 5px 10px;border-left: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;white-space: nowrap;}
.tooltip_map .tooltip_tb td {white-space: normal;}

/* 공차현황 layout */
.wrap{display:flex;flex-direction:column;height:100%}
.content{position:relative;flex:1;display:flex;height:calc(100% - 91px)}
.content .empty-search-result{width:350px;height:100%;overflow-y:auto;background:#fff;box-shadow:4px 2px 8px 0 rgba(0, 0, 0, 0.06);z-index:3}
.content .empty-search-result-detail{opacity:0;position:absolute;top:0;left:0;display:flex;flex-direction:column;width:350px;height:100%;background:#fff;box-shadow:4px 2px 8px 0 rgba(0, 0, 0, 0.06);transition:all 0.3s ease-in-out;z-index:2}
.content .empty-search-result-detail.active{opacity:1;left:350px}
.content .mapview{width:calc(100% - 350px);height:100%;transition:all 0.3s ease-in-out;z-index:1}
.content .mapview.move{width:calc(100% - 700px);margin-left:350px}

/* header */
header{display:flex;align-items:center;height:91px;border-bottom:1px solid #B1B1B1;background:#fff}
header h1{width:350px;font-size:18px;font-weight:700;padding-left:50px;white-space:nowrap}
header .search-form{flex:1;display:flex;align-items:center;justify-content:space-between;padding:25px 40px 25px 30px}
header .search-form .data-wrap{display:flex;align-items:center}
header .search-form .data-write-wrap{display:flex;align-items:center;margin-right:20px}
header .search-form .data-write-wrap input[type="text"]{width:120px}
header .search-form .data-write-wrap select{width:150px}
header .search-form .data-title{margin-right:15px;white-space:nowrap}
header .search-form button{width:100px}
header .search-form .refreshcycle{display:flex;align-items:center}
header .search-form .refreshcycle button{width:100px;margin:0 10px 0 20px}
header .search-form .refreshcycle select{width:120px}

/* empty-search-result */
.empty-search-result li{padding:20px 50px;cursor:pointer}
.empty-search-result li.active{background:#f6f6f6}
.empty-search-result li:not(:first-child){border-top:1px solid #ccc}
.empty-search-result h2{display:flex;align-items:center;height:29px;margin-bottom:15px;padding-left:47px;font-size:16px;font-weight:700}
.empty-search-result h2 span{padding-right:40px;background:url(../images/ico-view.png) no-repeat right center;background-size:20px 20px}
.empty-search-result h2.time1{color:#ff4141;background:url(../images/ico-time-1.png) no-repeat left center;background-size:34px 29px}
.empty-search-result h2.time2{color:#ff8800;background:url(../images/ico-time-2.png) no-repeat left center;background-size:34px 29px}
.empty-search-result h2.time3{color:#2962ff;background:url(../images/ico-time-3.png) no-repeat left center;background-size:34px 29px}
.empty-search-result h2.time4{color:#000;background:url(../images/ico-time-4.png) no-repeat left center;background-size:34px 29px}
.empty-search-result dl{font-size:12px}
.empty-search-result dl dt{clear:left;float:left;display:block;margin:0 5px 1px 0}
.empty-search-result dl dd{margin:0 0 1px 0}
.empty-search-result dl dd::after{content:'';display:table;clear:both}
.empty-search-result dl dd:not(:last-of-type){margin-bottom:6px}

.empty-search-result-detail .item{padding:30px;border-bottom:1px solid #ccc}
.empty-search-result-detail h3{font-size:16px;font-weight:700}
.empty-search-result-detail h3.time1{color:#ff4141}
.empty-search-result-detail h3.time2{color:#ff8800}
.empty-search-result-detail h3.time3{color:#2962ff}
.empty-search-result-detail h3.time4{color:#000}
.empty-search-result-detail h4{margin-top:10px;font-size:16px}
.empty-search-result-detail .btngrp{display:flex;align-items:center;margin-top:20px}
.empty-search-result-detail button{width:100%}
.empty-search-result-detail button:not(:first-child){margin-left:10px}
.empty-search-result-detail .detailinfo{padding:0 30px;overflow-y:auto}
.empty-search-result-detail dl{font-size:14px;padding:30px 0}
.empty-search-result-detail dl:not(:first-of-type){border-top:1px solid #ccc}
.empty-search-result-detail dl dt{clear:left;float:left;display:block;margin:0 5px 1px 0}
.empty-search-result-detail dl dd{margin:0 0 1px 0}
.empty-search-result-detail dl dd::after{content:'';display:table;clear:both}
.empty-search-result-detail dl dd:not(:last-of-type){margin-bottom:10px}
.empty-search-result-detail dl dd.sum{color:#1780d1}

.ui-layout-west .control-bar{display:flex;align-items:center; padding: 1% 0 0 20%;}
.ui-layout-west .control-bar>button{margin-left:5px}

.custom_button1, .custom_button2, .custom_button3{ width: 29px; height: 24px; border: 0;}
.custom_button1 {background: url(../images/bullet-1.png) no-repeat center; background-size: 12px 12px;} 
.custom_button2 {background: url(../images/bullet-2.png) no-repeat center; background-size: 12px 12px;} 
.custom_button3 {background: url(../images/bullet-3.png) no-repeat center; background-size: 12px 12px;} 
.multi-line-css {background-color: #e7f1f1;font-weight: 700;}

.inner .top-crgno {position: relative;left: 17px;top: 7px;font-size: 14px;}

.refreshTime {color: #7c7c7c;margin-right: 13px;}

/* popup */
.popup{display:none;position:fixed;width:100%;height:100%;left:0;top:0;align-items:center;justify-content:center;overflow:hidden;background:rgba(0, 0, 0, 0.5);z-index:6}
.popup .p-content{display:flex;flex-direction:column;border-radius:15px;background:#fff}
.popup .p-head{position:relative;height:80px;line-height:80px;border-bottom:1px solid #ccc}
.popup .p-head h1{font-size:22px;font-weight:700;padding-left:30px;line-height: 80px;}
.popup .p-head button.close{position:absolute;top:20px;right:20px;width:40px;height:40px;text-indent:-9999em;background:url(../images/ico-close.png) no-repeat center center;background-size:16px 16px}
.popup .p-body{flex:1;overflow-y:auto}
.popup .p-body.noscroll{overflow:hidden}
.popup .p-body .inner{padding:30px 40px}
.popup .p-body .inner p{font-size:16px;text-align:center;margin-bottom:20px}
.popup .imgbox{height:100%;display:flex;justify-content:center;padding:20px}
.popup .imgbox img{max-width:100%}
.popup .p-footer{display:flex;align-items:center;padding:0 40px 30px 40px}
.popup .p-footer button{width:100%;height:40px;margin-right:20px;font-size:16px}
.popup .p-footer button:last-child{margin-right:0}
    
    