@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Malgun Gothic",  Dotum, Shruti, Arial; 
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}


html, body {
	-webkit-font-smoothing: antialiased;
	height:100%;
	line-height:20px; 	
	font-family: "Malgun Gothic", Dotum, Shruti, Arial; 
	font-size:13px; 
	color:#666666;
	letter-spacing:-0.05em;
}


h1, h2, h3, h4, h5, h6{
	font-family:  "Malgun Gothic", Dotum, Shruti, Arial; 
	font-size:16px;
    color:#262626;
}
input, textarea, select, button{ 
	font-size:13px; 
	line-height:1.2em;
	color:#262626;
}

input[type=text], input[type=password]{height:28px; padding-left:5px; border:1px solid #cecece; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
input[type=file]{height:28px; border:1px solid #cecece; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
input[type=checkbox], input[type=radio]{margin:-4px 0 0 0; vertical-align:middle; margin-right:5px;}
textarea{border:1px solid #cecece; padding:5px; overflow-y:auto; overflow-x:hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
select{height:28px; padding-left:5px; border:1px solid #cecece;}
select.select01{height:34px; padding-left:5px; border:1px solid #cecece;}
input.input01{height:34px;}
input, select, textarea{vertical-align:middle;}
ol, ul, li{list-style: none;}
table {border-collapse:collapse; border-spacing:0; text-align:justify;}
th, td{text-align:left;}
caption{display:none;}

q, blockquote {quotes: none;}
q::before, q::after, blockquote::before, blockquote::after {
	content: " ";  
	content: none; 
	clear:both;
}

img {max-width:100%; height:auto;}
button{height:28px; padding-left:5px; border:1px solid #cecece; cursor:pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
input[disabled=disabled], button[disabled=disabled]{background:#dddddd; color:#494949 !important;}

a:link, a:visited{color:#646464; text-decoration:none; -webkit-transition:all 120ms ease-out;-moz-transition:all 120ms ease-out;-ms-transition:all 120ms ease-out;-o-transition:all 120ms ease-out;transition:all 120ms ease-out}
a:hover, a:focus{outline:none; color:#222222}
a img {border: none; vertical-align:middle;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}

.hidden{display:none;}


.clear {clear: both; display: block; width: 100%; height: 0; float: none; font-size: 0 !important; line-height: 0 !important; margin: 0 !important; padding: 0 !important; overflow: hidden;}

b{}
.b{ color:#000000}

.cb{clear:both;}
.fl{float:left;}
.fr{float:right;}
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}
.fcenter{margin: 0 auto;}



.mT2{margin-top:2px;}
.mT3{margin-top:3px;}
.mT4{margin-top:4px;}
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT16{margin-top:16px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mT40{margin-top:40px;}
.mT5min{margin-top:-5px;}
/* 2014-11-11�߰��� ���� */
.mT50{margin-top:50px;}
/* 2014-11-11�߰��� �� */
.mL10{margin-left:10px;}
.mR3{margin-right:3px;}
.mR10{margin-right:10px;}
.mR40{margin-right:40px;}
.mB5{margin-bottom:5px;}
.mB10{margin-bottom:10px;}
.mB20{margin-bottom:20px;}
.mB30{margin-bottom:30px;}
.mT300min{margin-top:-300px;}

.point01{color:#f54f4d}
.bold{font-family:nanumBold}
.positionRelative{position:relative;}


#popBody01 {width:800px; margin:0 auto;}
#popArea {border-top:4px solid #ed1c24; overflow:hidden; padding:20px 20px 30px;}
.pop_title01{overflow:hidden;}
.pop_title01 img{float:left; }
.pop_title01 span{float:right; font-size:17px; margin:15px 15px 0 0; color:#585858; }
.pop_content{padding:0 20px;}

.mailContent01{border:1px solid #dddddd; background:#fafafa; text-align:center; color:#555555; font-size:14px}
.mailContent01 dl{overflow:hidden; padding:200px 0 40px 0;}

.mailIco17{background: no-repeat center 30px;}
/* .mailIco17{background:url("/images/mail-ico17.png") no-repeat center 30px;} ★해당이미지없음 */


.mailContent01 dt{color:#4d4d4d; font-size:28px; line-height:28px;}
.mailContent01 dt span, .mailContent01 dd span{color:#e5282a;}
.mailContent01 dd{margin-top:20px;}

.mailContent02AreaL dl{color:#ffffff}
.mailingDeco01{position:absolute; top:0; left:0; width:56px; height:68px; text-align:center;  font-size:16px; background: no-repeat 0 0;}
/* .mailingDeco01{position:absolute; top:0; left:0; width:56px; height:68px; text-align:center;  font-size:16px; background:url('/EACCT/images/mail/ideaDeco01.png') no-repeat 0 0;} ★해당이미지없음*/

.mailContent02AreaL dt{padding:7px 0 0 0}

.mailContent02{margin-top:40px;}
.mailContent02 h3{font-size:26px; color:#333333;  margin-bottom:20px;}
.mailContent02Area {overflow:hidden; padding:30px; border-top:2px solid #868686; border-bottom:2px solid #d0d0d0;}
.mailContent02AreaL{float:left; margin-right:40px; width:210px; position:relative}
.mailContent02AreaL img{display:block; width:210px; height:153px;}
.mailContent02AreaR{float:left; width:450px;}
.mailContent02AreaR h4{color:#393939; font-size:20px;  border-bottom:1px solid #d9d9d9; margin-top:10px; padding-bottom:10px;}
.mailContent02AreaR h4 span{color:#ff1e1e;}

.mailContent02Area .mailTite01 {color:#393939; font-size:20px;  padding-bottom:10px; border-bottom:1px solid #d1d1d1;}
.mailTxt01{color:#ff1e1e}
.mailTxt02{color:#2a54b2}
.mailTxt03{color:#04a2ba}
.mailComment {margin-top:20px;}
.mailComment .commentsView{font-size:13px;}
.mailingDate{display:block; font-size:13px; font-family:nanum !important}

.mailContent03 {margin-top:40px;}
.mailContent03 h3{font-size:26px; color:#333333;  margin-bottom:20px;}

.mailContent04 {margin-top:20px; border:2px solid #d1d1d1; text-align:center; padding:15px; font-size:22px; color:#6f6f6f;  line-height:22px;}
.mailContent04 span {color:#ff1e1e;}

.mailcompanyInfo02Ul{margin-top:20px;}
.mailcompanyInfo02Ul dl{overflow:hidden;}
.mailcompanyInfo02Ul li{padding:2px 0;}
.mailcompanyInfo02Ul li dt{float:left; width:25%; font-size:14px; color:#333333; }
.mailcompanyInfo02Ul li dd{float:left; padding:0 10px; font-size:14px; color:#666666;}
.mailcompanyInfo02Ul li dd span{ color:#464646}

.mail_bottom{margin-top:40px;}
.mail_bottom01{background:#e3e3e3; text-align:center; padding:20px 0; color:#292929;}
.mail_bottom01 span a{color:#ff1e1e;}
.mail_bottom02{overflow:hidden; background:#f6f6f6; padding:35px 65px; color:#666666;}
.mailFooterLogo{float:left; margin-right:50px;}
.mailAddress{float:left;}

/* Table Type1 */
.table_mail {border-top:2px solid #868686; border-bottom:2px solid #d0d0d0;}
.table_mail table {width:100%;}
.table_mail table th {padding:3px 5px 3px 15px;  color:#262626; background:#f2f2f2; font-size:13px;}
.table_mail table th p{color:#6a6a6a; font-size:11px !important; font-family:nanum !important;}
.table_mail table th label{margin-left:12px;}
.table_mail table th label .necessary{margin-left:-12px;}
.table_mail table td {padding:3px 0px 3px 15px;} 
.table_mail table td.topline {border-top:1px solid #d1d1d1} 


.newsletterArea01{position:relative; margin-top:30px;}

.newsletterArea01 .ideaListViewUl{overflow:hidden; margin-left:0; padding-top:10px; padding:0;}
.newsletterArea01 .ideaListViewUl > li{float:left; width:252px; height:303px; margin:-1px -1px 0 0; border:1px solid #dedede;  overflow:hidden;}
.newsletterArea01 .ideaListViewL{}
.newsletterArea01 .ideaListViewL img{display:block; margin:20px auto; width:210px; height:154px; text-align:center}
.newsletterArea01 .ideaListViewR{padding:0 0}
.newsletterArea01 .ideaListViewR h3 {display:block; margin:0 0 10px; padding:0 20px; text-overflow: ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:210px; }
.newsletterArea01 .ideaListViewR h3 a{font-size:15px; color:#404040; }
.newsletterArea01 .ideaListViewR h3 span{display:block;  font-size:12px; color:#ff3a3a;}
.newsletterArea01 .ideaListViewR p{color:#404040; height:90px; line-height:18px; letter-spacing:-0.5px; padding:0 15px}
.newsletterArea01 .ideaListViewR ul{overflow:hidden; border-top:none; padding:10px 0; background:#f6f6f6}
.newsletterArea01 .ideaListViewR dl{overflow:hidden;}
.newsletterArea01 .ideaListViewR li{font-size:12px;}
.newsletterArea01 .ideaListViewR li:first-child{border-top:none;}
.newsletterArea01 .ideaListViewR li dt{float:left; width:22%; color:#454545;  padding-left:10px;}
.newsletterArea01 .ideaListViewR li dd{float:left;}
.newsletterArea01 .ideaListViewR li dd span{color:#454545; }

.newsletterArea01 .searchCompanyListViewUl{overflow:hidden;}
.newsletterArea01 .searchCompanyListViewUl > li{float:left; width:49.80%; padding:0 0; margin:-1px -1px 0 0; overflow:hidden; border:1px solid #dbdbdb;}
.newsletterArea01 .searchCompanyListViewL{float:left; margin:0; border:0px solid #dbdbdb; width:150px; height:100px;}
.newsletterArea01 .searchCompanyListViewL img{width:130px; height:85px; display:block; margin:20px auto;}
.newsletterArea01 .searchCompanyListViewR{float:left; width:210px; min-height:120px;}
.newsletterArea01 .searchCompanyListViewR h3 a{display:block; font-size:16px; color:#404040; margin:20px 0 0;}
.newsletterArea01 .searchCompanyListViewR p{color:#404040; height:40px;}
.newsletterArea01 .searchCompanyListViewR ul{margin:10px 0; overflow:hidden; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd;}
.newsletterArea01 .searchCompanyListViewR dl{overflow:hidden;}
.newsletterArea01 .searchCompanyListViewR li{border-top:1px solid #dddddd; font-size:13px;}
.newsletterArea01 .searchCompanyListViewR li:first-child{border-top:none;}
.newsletterArea01 .searchCompanyListViewR li dt{float:left; width:30%; text-align:center; color:#333333;  padding:2px 0; background:#f5f5f5}
.newsletterArea01 .searchCompanyListViewR li dd{float:left; padding:2px 10px;}

.newsletterArea01 .mainTitle01{font-size:22px; line-height:22px;  color:#ffffff; background:#7b7b7b; padding:12px 20px 12px 20px}
.newsletterArea01 .moreBtn{position:absolute; right:0; top:14px;}

a.btn13{display:inline-block; height:40px; line-height:40px; color:#ffffff; padding:0 30px; background:#ff1e1e; text-align:center; vertical-align:middle; margin-bottom:5px;}
a.btn13 span{display:block; color:#ffffff; font-size:15px; }

a.btn02{display:inline-block; color:#ffffff; padding:3px 35px; background:#a6a6a6; text-align:center; vertical-align:middle; margin-bottom:5px;}
a.btn02 span{display:block; color:#ffffff; font-size:13px; }
.commentsInfo{float:left; font-size:16px;  color:#5c5c5c;}
.commentsDate{font-size:14px;  color:#777777; margin-left:20px;}
.commentsView{clear:both; padding-top:10px; font-size:12px; word-break:break-all; word-wrap:break-word;}

/* Table Type1 */
.table_type1 {width:100%; clear:both; margin:0px 0 0px 0; border-bottom:1px solid #d9d9d9;}
.table_type1 table {width:100%;}
.table_type1 table th {padding:10px 5px 10px 15px;  color:#262626; border-top:1px solid #d9d9d9;  background:#f2f2f2; font-size:13px;}
.table_type1 table th p{color:#6a6a6a; font-size:11px !important; font-family:nanum !important;}
.table_type1 table th label{margin-left:12px;}
.table_type1 table th label .necessary{margin-left:-12px;}
.table_type1 table td {padding:10px 0px 10px 15px; border-top:1px solid #d9d9d9;  /*background:url('../../NewImages/common/barBg.png') repeat-x 0 top*/} 
.table_type1 table td.right {padding-right:15px;} 
/* .table_type1 table td p.stitle {padding-left:8px; background:url('../Images/common/helpBlt.png') no-repeat 0 7px;} ★해당이미지없음 */
.table_type1 table td li label {margin:5px 0; display:inline-block;}
.table_type1 table td li.profile_p {width:121px; height:121px; margin-right:5px; border:1px solid #e2e2e2; background-color:#f8f8f8;} 
.table_type1 table .tableUl{overflow:hidden;}
.table_type1 table .tableUl li{float:left; margin-right:4px;}
.table_type1 table .tableUl li.first {margin-right:30px;}
/* .table_type1 table .tableUl01 li{padding-left:12px; background:url("../Images/sub/bullet_list01.png") no-repeat 0 center;} ★해당이미지없음 */
.cardInfo label{width:80px;}
.rewardWon { font-size:22px; color:#000000;}
.rewardWon span{font-family:"Calibri"; font-weight:bold; font-size:25px; color:#ff1e1e;}
.table_type1 table .sponContxt01{font-size:13px;}